name: Docker CI/CD Push

# 触发条件：每次推送到 main 分支时
on:
  push:
    branches:
      - main
    
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    
    steps:
    
    # 1. 检出代码
    - name: Checkout Repository
      uses: actions/checkout@v4

    # 2. 登录 Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        # 使用 GitHub Secrets 存储的用户名和令牌
        username: xf2000
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    # 3. 设置 BuildX (Docker 构建工具)
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 4. 构建并推送镜像
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .  # 指定 Dockerfile 的构建上下文为当前目录
        push: true  # 开启推送
        tags: xf2000/trip-planner-app:v3 # 目标镜像名和标签
        # 如果您使用多阶段构建，这里可以指定 target
        target: backend